header {
    text-align: left;
    background-color: #9DBBAE;
    display: grid;
   /*grid-template-columns: 150px auto;*/
}

/* General Styles */
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2, footer p {
    margin: 0;
    text-decoration: none;
}

/* Container Styles */
#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #F2EAE4;
}
.home-title {
    margin-top: 10px;
}


/*.home-grid {
    text-align: center;
}*/

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: auto auto;*/
    gap: 20px;
    background-color: #7182B2;
}

.camping {
    width: 100%;
    grid-column: 1/2;
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #21124C;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: white;
}

/* Hero Styles */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

/*#hero {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
*/

.button-box {
    padding: 15px 30px;
}

/* Button Styles */
.join, .book {
    background-color:#9DBBAE;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: #21124C;
}

.join:hover, .book:hover {
    background-color: #7182B2;
    color: white;
    padding: 15px 30px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}


#hero-img {
    width: 100%;
}


.msg p {
    padding-bottom: 15px;
}

#campsite {
    background-color: #7182B2;
    padding: 300px;
}

/* Footer Styles */
footer {
    background-color: #9DBBAE;
    color: #21124C;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a, .social a {
    text-decoration: none;
    color: #21124C;
}

footer a:hover, .social a:hover {
    color: white;
}

/* Home Title Styles */
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

/*#campsite {
    grid-column: 1 / span 11;
    grid-row: 4 / span 5;
} 

.camping {
    grid-column: 2 / span 6;
    grid-row: 5 / span 3;
}
*/

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.msg {
    background-color: #D5C3A7;
    /*padding: 35px;*/
    /*grid-column: 6/10;*/
   /* grid-row: 6/7;*/
    /*box-shadow: 5px 5px 10px #6f7364;*/
    grid-column: 2/3;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}


#hero-msg {
    /*grid-column: 2;*/
    text-align: center;
    margin-top: 100px;
}

#hero-msg , h1{
    color: beige;
}
    