header {
    text-align: left;
    background-color: #9DBBAE;
}

/* General Styles */
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2, footer p {
    margin: 0;
    text-decoration: none;
}

/* Container Styles */
#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #F2EAE4;
}
.home-title {
    margin-top: 10px;
}


.home-grid {
    text-align: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

nav a {
    color: #21124C;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: white;
}

/* Hero Styles */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    padding: 15px 30px;
}

/* Button Styles */
.join, .book {
    background-color: #7182B2;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover, .book:hover {
    background-color: beige;
    padding: 15px 30px;
}

/* Logo and Icon Styles */
.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

/* Hero Image Styles */
#hero-img {
    width: 100%;
}

/* Message Styles */
.msg {
    background-color:  #9DBBAE;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 50px;
}

.msg p {
    padding-bottom: 15px;
}

#background {
    background-color: #7182B2;
    padding: 200px;
    margin-bottom: 50px;
}

/* Footer Styles */
footer {
    background-color: #9DBBAE;
    color: #21124C;
    padding: 25px 50px;
    margin-top: 200px;
    text-align: left;
}

footer .social img {
    padding-top: 15px;
}

footer a, .social a {
    text-decoration: none;
    color: #21124C;
}

footer a:hover, .social a:hover {
    color: white;
}

/* Home Title Styles */
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}