header {
    text-align: left;
    background-color: #9DBBAE;
    display: grid;
    grid-template-columns: 150px auto;
}

/* General Styles */
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2, footer p {
    margin: 0;
    text-decoration: none;
}

/* Container Styles */
#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #F2EAE4;
}
.home-title {
    margin-top: 10px;
}


.home-grid {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2 / span 2; /* Centered within a 10-column grid */
    grid-row: 2 / span 1;
}

.camping-card {
    grid-column: 5 / span 2; /* Centered within a 10-column grid */
    grid-row: 2 / span 1;
}

.rapids-card {
    grid-column: 8 / span 2; /* Centered within a 10-column grid */
    grid-row: 2 / span 1;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}


main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #21124C;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: white;
}

/* Hero Styles */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    padding: 15px 30px;
}

/* Button Styles */
.join, .book {
    background-color:#9DBBAE;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover, .book:hover {
    background-color: #7182B2;
    padding: 15px 30px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* Logo and Icon Styles */
.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

/* Hero Image Styles */
#hero-img {
    width: 100%;
}

/* Message Styles */
.msg {
    background-color:  #9DBBAE;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 50px;
}

.msg p {
    padding-bottom: 15px;
}

#background {
    background-color: #7182B2;
    padding: 300px;
}

/* Footer Styles */
footer {
    background-color: #9DBBAE;
    color: #21124C;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a, .social a {
    text-decoration: none;
    color: #21124C;
}

footer a:hover, .social a:hover {
    color: white;
}

/* Home Title Styles */
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

#background {
    grid-column: 1 / span 11;
    grid-row: 4 / span 5;
}

.mountains {
    grid-column: 2 / span 6;
    grid-row: 5 / span 3;
}

.msg {
    grid-column: 6 / span 5;
    grid-row: 6 / span 1;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.msg {
    background-color: #D5C3A7;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}