@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* General Styles */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: black;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Helvetica', sans-serif;
}

/* Header Styles */
header {
    text-align: center;
    background-color: #33C4A9;
    display: grid;
    grid-template-columns: 150px auto;
    z-index: 4;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    background-color: #33C4A9;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 35px 70px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: black;
    padding: 35px 70px;
}

#content {
    text-align: center;
}

/* Hero Styles */
#hero {
    background-color: #6D83B6;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}

#hero h1 {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    grid-column: 1 / span 10;
    grid-row: 7/11;
    z-index: 2; 
    font-size: 22vw;
    padding-bottom: 0;
    margin: 0;
}

#hero p {
    position: block;
    text-align: right;
    color: white;
    grid-column: 4/5;
    grid-row: 6/7; 
    z-index: 2; 
}

#hero img {
    width: 60%;
    display: block;
    margin: 0 auto;
    z-index: 1;
    grid-column: 1 / span 10;
    grid-row: 2 / span 10;
}

/* Category Styles */
.category-title {
    color: white;
    font-size: 7vw;
    grid-column: 3/8;
    margin-bottom: 3vw;
}

.button-box {
    grid-column: 3/8;
}

.button {
    background-color:#6D83B6;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}

.button:hover {
    color: white;
    background-color: #33C4A9;
}

/* Portrait Styles */
#portraits{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 15vw;

}

#portraits1{
    grid-column: 3/8;
    width: 100%;
    position: relative;
}

/* Sport Styles */
#sports{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 15vw;
}

#sports1{
    grid-column: 3/8;
    width: 100%;
    position: relative;
}

/* Event Styles */
#events {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 15vw;
}

#events1{
    grid-column: 3/8;
    width: 100%;
    position: relative;
}


/* Footer Styles */
footer {
    margin-top: 400px;
    background-color: #6D83B6;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer a, footer p {
    text-decoration: none;
    color: white;
}

footer a {
    padding: 35px 70px;
    transition: background-color 0.3s ease;
}
footer a:hover {
    color: black;
}


